<div class="near-you">
  <img src="/assets/ticket.png"/>
  <div>Found 102 <span>Sessions near you</span></div>
</div>

<h2 class="recommendations-title">Community Recommendations</h2>

<div class="hero-event-cards">
  <div class="event-cards-container">
    <div class="event-cards-category-header">
      <h6>Recommended because you like monster movies</h6><span>Monster Classics</span>
    </div>
    <div class="event-cards-row">
      <app-event-card *ngFor="let event of monsterEvents" [event]="event"></app-event-card>
    </div>
    <div class="event-cards-category-header">
      <h6>Recommended because you work at Vista</h6><span>Star Wars Episodes</span>
    </div>
    <div class="event-cards-row">
      <app-event-card *ngFor="let event of starwarsEvents" [event]="event"></app-event-card>
    </div>
    <div class="event-cards-category-header">
      <h6>Recommended because you watched 'Beauty and the Beast'</h6><span>Disney Favorites</span>
    </div>
    <div class="event-cards-row">
      <app-event-card *ngFor="let event of disneyEvents" [event]="event"></app-event-card>
    </div>
  </div>
</div>


<div class="hero-food">
  <h1>Get Social</h1>
  <h3>Get 10 or more of your friends going to an OnDemand show and receive $40 toward food & Drink</h3>
  <button class="btn-transparent">Request a Film</button>
</div>
