<div class="container footer">
    <div class="footer-options row">
        <div class="col-md-2"></div>
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-3">
                    <p class="option">Films</p>
                    <p class="option-list">Explore</p>
                    <p class="option-list">For You</p>
                    <p class="option-list">Request a Film</p>
                </div>
                <div class="col-md-3">
                    <p class="option">Cinemas</p>
                    <p class="option-list">Locations</p>
                    <p class="option-list">Facilities</p>
                </div>
                <div class="col-md-3">
                    <p class="option">About</p>
                    <p class="option-list">About OnDemand</p>
                    <p class="option-list">Terms Of Service</p>
                    <p class="option-list">Film Backlog</p>
                </div>
                <div class="col-md-3">
                    <p class="option">Contact Us</p>
                    <p class="option-list">Contact OnDemand</p>
                    <p class="option-list">Support Desk</p>
                    <p class="option-list">Press Resources</p>
                    <p class="option-list">Feedback</p>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
    <div class="footer-logo row">
        <svg class="logo" width="120" height="41">
            <image href="./assets/logo-inverted.png" width="120" height="41" />
        </svg>
    </div>
    <div class="footer-rights row">
        <p>©2017 All Rights Reserved. OnDemand™ is a registered trademark of ABC Cinemas Group. <u>Privacy</u> and <u>Terms</u></p>
    </div>
</div>