<div class="container event-card">
  <div class="row">
      <div class="col-md-12">
          <div class="details-container">
            <div class="row title">
                <p class="title-text">Details</p>
            </div>
            <div class="row organizer">
                <img src="{{event.eventOrganiser.image}}" class="organizer-image"/>
                <div class="organizer-text">
                    Organised by {{event.eventOrganiser.name}}
                </div>
            </div>
            <div class="row scheduling-details">
                <div class="col-md-6" [ngClass]="{'scheduled': event.approved, 'not-scheduled': !event.approved}">
                    <div *ngIf="event.approved">
                        <img src="assets/icons/check-pink.png" class="check-image"/>
                        Scheduled
                    </div>
                    <div *ngIf="!event.approved">
                        Pending
                    </div>
                </div>
                <div class="col-md-6 seats-left">
                    {{event.capacity - event.attendees.length}} seats left
                </div>
            </div>
            <div class="row">
                <div class="bar" [ngStyle]="{ 'background-image': 'linear-gradient(left, #CE4AC6, #CE4AC6 ' + percentage + '%, transparent ' + percentage + '%, transparent 100%)', 
                                              'background-image': '-webkit-linear-gradient(left, #CE4AC6, #CE4AC6 ' + percentage + '%, transparent ' + percentage + '%, transparent 100%)'}">
                </div>
            </div>
            <div class="row top-margin-20">
                <div class="col-md-4 map">
                  <img src="/assets/map.PNG" class="map-image">
                </div>
                <div class="col-md-8">
                  <div class="event-details">
                    <div class="time">{{event.time}}</div>
                    <div class="date-location">{{event.date}}</div>
                    <div class="date-location">{{event.location}}</div>
                  </div>
                </div>
            </div>
            <div class="row reserve-tickets">
              <p>Reserve Tickets</p>
            </div>
          </div>
      </div>
  </div>
</div>
