<div class="background-picture"></div>
  <section>
    <div class="film-picture">
      <div class="trailer-play">
        <p>Play Trailer</p>
      </div>
    </div>
    <div class="container main-content">
      <div class="row">
        <div class="col-md-5">
          <p class="title">Your Name</p>
        </div>
        <div class="col-md-2">
          <p class="year">2016</p>
        </div>
        <div class="col-md-5">
          <p class="director">Directed by Makoto Shinkai</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <div class="row options">
            <div class="col-md-3 options-tab options-tab-selected">
              <span class="options-text"> Overview </span>
            </div>
            <div class="col-md-3 options-tab">
              <span class="options-text"> About the Film </span>
            </div>
            <div class="col-md-5 options-tab">
              <span class="options-text"> What people are saying </span>
              <span class="options-text people-saying-number">&nbsp;54&nbsp;</span>
            </div>
          </div>
          <div class="row overview">
            <div class="col-md-11">
              <p class="overview-text">Back by popular demand, another chance to watch the acclaimed Your Name (君の名は)</p>
              <p class="overview-text">Your Name is smashing box office records in Japan. Come and be apart of history at our special event, organised by your local Anime Fans fanclub. Bonus icecreams for anyone who comes in cosplay.</p>
              <p class="overview-text">The movie is scheduled for 8:00 om, but there will be a group of us heading out for dinner beforehand. If you’re interested in the pre-party then just send us a direct message.</p>
              <p class="overview-text">See you there!! <br> ~ Anime Fans</p>
              <p class="overview-text">Stay upto date with all our events <br><u>www.animefanmovies.com</u> <br><u>www.facebook.com/animefanmovies</u></p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="row">
            <app-reserve-tickets-card [event]="eventService.getEvent(3)"></app-reserve-tickets-card>
          </div>
          <div class="row">
            <img src="/assets/social-media.png" class="social-media"/>
          </div>
        </div>
      </div>
      
    </div>
  </section>
