<div class="background-picture"></div>
  <section>
    <div class="film-picture">
      <div class="trailer-play">
        <p>Play Trailer</p>
      </div>
    </div>
    <div class="container main-content">
      <div class="row">
        <div class="col-md-5">
          <p class="title">Your Name</p>
        </div>
        <div class="col-md-2">
          <p class="year">2016</p>
        </div>
        <div class="col-md-5">
          <p class="director">Directed by Makoto Shinkai</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <div class="row options">
            <div class="col-md-3 options-tab options-tab-selected">
              <span class="options-text"> Overview </span>
            </div>
            <div class="col-md-3 options-tab">
              <span class="options-text"> About the Film </span>
            </div>
            <div class="col-md-5 options-tab">
              <span class="options-text"> What people are saying </span>
              <span class="options-text people-saying-number">&nbsp;54&nbsp;</span>
            </div>
          </div>
          <div class="row overview">
            <div class="col-md-11">
              <p class="overview-text">{{event.description}}</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="row">
            <app-reserve-tickets-card [event]="event"></app-reserve-tickets-card>
          </div>
          <div class="row">
            <img src="/assets/social-media.png" class="social-media"/>
          </div>
        </div>
      </div>

    </div>
  </section>
