
.background-picture {
    height: 449px;
    background: url('../../assets/yourname-hero.png');
    background-repeat: no-repeat;
    background-size: cover;
}
section {
    height: 1244px;
    width: 100%;
    color: white;

    .film-picture {
        top: 269px;
        width: 225px;
        height: 311px;
        margin-left: 256px;
        position: absolute;
        border-radius: 4px;
        background: url('../../assets/your-name.png');
        background-size: contain;
        display: flex;
        align-items: flex-end;
        .trailer-play {
            height: 39px;
            width: 225px;
            opacity: 0.9;
            background-color: #ffffff;
            text-align: center;
            p {
                margin-top: 8px;
                font-family: Graphik;
                font-size: 14px;
                font-weight: 500;
                color: #000000;
            }

        }
    }

    .main-content{
        margin-top: 30px;
        padding-left: 82px;
        padding-right: 82px;


        .title{
            color: #000000;	
            font-size: 30px;	
            font-weight: 900;	
            line-height: 36px;
            text-align: right;
        }

        .year{
            opacity: 0.7;	
            color: #000000;	
            font-family: Graphik;	
            font-size: 20px;	
            line-height: 22px;
            position: absolute;
            bottom: 5px;
        }
        
        .director{
            opacity: 0.7;	
            color: #000000;	
            font-family: Graphik;	
            font-size: 20px;	
            line-height: 22px;
            position: absolute;
            right: 0;
            bottom: 5px;
        }

        .options{
            margin-top: 30px;

            .options-tab{
                height: 38px;	
                width: 64px;	
                text-align: center;

                .options-text{
                    color: #000000;	
                    font-family: Graphik;	
                    font-size: 14px;	
                    font-weight: 800;	
                    line-height: 15px;
                }

                .people-saying-number{
                    display: inline-block;
                    opacity: 0.7;	
                    height: 17px;	
                    width: 30px;	
                    border: 1px solid #E3E3E3;	
                    border-radius: 100px;	
                    background-color: #FFFFFF;
                }             
            }

            .options-tab-selected{
                border-bottom: 3px #2BD7A4 solid;
            }
        }

        .overview{
            margin-top: 45px;

            .overview-text{
                width: 100%;
                color: #000000;	
                font-family: Graphik;
                font-size: 16px;
            }
        }

        .social-media{
            margin-top: 20px;
            margin-left: 50px;
            width: 285px;
            height: 373px;
        }
    }

    .other-films{
        margin: 0;
        margin-top: 80px;
        padding: 0;
        width: 100%;
        overflow: hidden;

        p{
            margin-left: 170px;
            color: #000000;	
            font-family: sf;	
            font-size: 30px;	
            font-weight: 1200;	
            line-height: 36px;
        }

        .event-cards-container {
            width: 100%;
            padding-top: 50px;
            background: linear-gradient(0deg, #FFFFFF 0%, #F8F8F8 100%);
            display: flex;
            flex-direction: column;
            .event-cards-row {
                display: flex;
                flex-direction: row;
                margin-left: 10%;
                overflow: hidden;
                app-event-card {
                margin: 0 20px 20px 0;
                }
            }
        }
    }
}
