.event-card{
  box-sizing: border-box;	
  height: 466px;	
  width: 215px;
  border: 1px solid #E3E3E3;	
  border-radius: 4px;	
  background-color: #FFFFFF;
}

.thumbnail-container{
    padding: 0;
}

.details-container{
    padding-left: 17px;
    padding-right: 17px;
}

.thumbnail{
  height: 294px;	
  width: 212.68px;
  border: 1px solid rgba(255,255,255,0.4);
  border-radius: 4px;
}

.title{
  margin-top: 21px;
  height: 14px;	
  color: #000000;	
  font-family: Graphik;	
  font-size: 14px;	
  font-weight: 500;	
  line-height: 15px; 
  width: 190px;   
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.title-text{
    display: block;
}

.year{
  height: 11px;
  width: 25px;	
  opacity: 0.7;	
  color: #000000;	
  font-family: Graphik;	
  font-size: 11px;	
  line-height: 12px;
}

.scheduled{
  height: 11px;	
  width: 57px;	
  color: #CE4AC6;	
  font-family: Graphik;	
  font-size: 11px;	
  font-weight: 500;
  line-height: 12px;
  padding-left: 0;
}

.not-scheduled{
  height: 11px;	
  width: 57px;	
  color: grey;	
  font-family: Graphik;	
  font-size: 11px;	
  font-weight: 500;
  line-height: 12px;
  padding-left: 0;
}

.seats-left{
  height: 11px;	
  color: #000000;	
  font-family: Graphik;	
  font-size: 11px;	
  font-weight: 500;	
  line-height: 12px;
  padding-right: 0px;	
  text-align: right;
  }

.bar {
  height: 4px;	
  width: 201px;	
  background-color: #E7E7E7;
}

.organizer{
    margin-top: 20px;
}

.organizer-image{
  border-radius: 50%;
  box-sizing: border-box;	
  height: 44px;	
  width: 44px;	
  border: 4px solid #FFFFFF;
}  

.organizer-text{
  height: 20px;	
  width: 106px;	
  color: #000000;	
  font-family: Graphik;	
  font-size: 12px;	
  line-height: 20px;
  text-align: center;
}

.event-details{
  margin-top: 20px;
}

.time{
  height: 11px;	
  color: #000000;	
  font-family: Graphik;	
  font-size: 13px;
  font-weight: 500;	
  line-height: 12px;	
}

.date-location{
  margin-top:8px;
  height: 11px;	
  color: #000000;	
  font-family: Graphik;	
  font-size: 11px;
  font-weight: 300;	
  line-height: 12px;	
}

.check-image{
  height: 10px;	
  width: 10px;
}