<div class="container event-card" (click)="goToEventDetails()" [@fadeInUp]="isVisible ? 'in' : '*'">
  <div class="row">
    <div class="col-md-12 thumbnail-container">
      <img src="{{event.film.image}}" class="thumbnail"/>
    </div>
  </div>
  <div class="row">
      <div class="col-md-12">
          <div class="details-container">
            <div class="row title">
                <p class="title-text">{{event.film.title}}</p>
            </div>
            <div class="row">
                <div class="year">
                    {{event.film.year}}
                </div>
            </div>
            <div class="row" style="height: 20px; margin-top: 18px;">
                <div class="col-md-6" [ngClass]="{'scheduled': event.approved, 'not-scheduled': !event.approved}">
                    <div *ngIf="event.approved">
                        <img src="assets/icons/check-pink.png" class="check-image"/>
                        Scheduled
                    </div>
                    <div *ngIf="!event.approved">
                        Pending
                    </div>
                </div>
                <div class="col-md-6 seats-left">
                    {{event.capacity - event.attendees.length}} seats left
                </div>
            </div>
            <div class="row">
                <div class="bar" [ngStyle]="{ 'background-image': 'linear-gradient(left, #CE4AC6, #CE4AC6 ' + percentage + '%, transparent ' + percentage + '%, transparent 100%)',
                                              'background-image': '-webkit-linear-gradient(left, #CE4AC6, #CE4AC6 ' + percentage + '%, transparent ' + percentage + '%, transparent 100%)'}">
                </div>
            </div>
            <div class="row">
                <div class="event-details">
                    <div class="time">{{event.time}}</div>
                    <div class="date-location">{{event.date}}</div>
                    <div class="date-location">{{event.location}}</div>
                </div>
            </div>
          </div>
      </div>
  </div>
</div>
