<div class="form-container">
  <div class="form-header">
    <h2>Request a Film</h2>
    <div class="progress-tracker">
      <div class="progress-state" (click)="setFormSection(1)" [class.active]="activeFormSection === 1" [class.complete]="activeFormSection > 1">Film
        and Cinema
      </div>
      <div class="progress-state" (click)="setFormSection(2)" [class.active]="activeFormSection === 2" [class.complete]="activeFormSection > 2">
        Event Details
      </div>
      <div class="progress-state" (click)="setFormSection(3)" [class.active]="activeFormSection === 3" [class.complete]="activeFormSection > 3">
        Summary
      </div>
      <div class="progress-state" (click)="setFormSection(4)" [class.active]="activeFormSection === 4" [class.complete]="activeFormSection >= 4">
        Share
      </div>
    </div>
  </div>

  <ng-container *ngIf="activeFormSection === 1">
    <div class="form-section">
      <div class="section-number">1</div>
      <div class="section-title">Choose the film you would like to request</div>
      <div class="film-select">
        <input 
          [(ngModel)]="selected"
          (typeaheadOnSelect)="filmSelected()"
          [typeahead]="films"
          class="form-control">
      </div>
      <div *ngIf="showFilmCard" class="selected-film-card">
        <div class="selected-film-image"></div>
        <div class="selected-film-info">
          <div class="selected-top">
            <div class="film-details">
              <div class="film-title">Your Name</div>
              <div class="film-year">2016</div>
            </div>
            <div class="pg">PG</div>
          </div>
          <div class="run-time">
            <label>Run time:</label>
            <div>2hr 14min</div>
          </div>
          <div class="director">
            <label>Director:</label>
            <div>Makoto Shinkai</div>
          </div>
          <div class="cast">
            <label>Cast:</label>
            <div>Ryunosuke Kamiki, Mone Kamishiraishi, Masami Nagasawa, Etsuko Ichihara, Ryo Narita</div>
          </div>
        </div>

      </div>
    </div>
    <div class="form-section">
      <div class="section-number">2</div>
      <div class="section-title">Choose the film format and screen type</div>
      <div class="multi-select">
        <div [class.selected]="newEvent.screenType === 'Regular'" (click)="setProp('screenType', 'Regular')">Regular</div>
        <div [class.selected]="newEvent.screenType === 'IMAX'" (click)="setProp('screenType', 'IMAX')">IMAX</div>
        <div [class.selected]="newEvent.screenType === 'Gold Class'" (click)="setProp('screenType', 'Gold Class')">Gold Class</div>
      </div>
      <div class="multi-select">
        <div [class.selected]="newEvent.format === '2D'" (click)="setProp('format', '2D')">2D</div>
        <div [class.selected]="newEvent.screenType === '3D'" (click)="setProp('screenType', '3D')">3D</div>
      </div>
    </div>
    <div class="form-section" style="min-height: 410px;">
      <div class="section-number">3</div>
      <div class="section-title">Choose a Cinema you would like to host the screening</div>
      <div class="fake-input" style="width: 330px;">Cinemas near you
        <img src="../assets/icons/caret-black.png">
      </div>
      <img class="fake-cinema-map" src="../assets/cinema.PNG">
    </div>
    <div class="form-section">
      <div class="section-number">4</div>
      <div class="section-title">Choose a date and time to show this film</div>
      <div class="fake-input" style="width: 300px;">
        {{newEvent.date}}
        <img src="../assets/icons/calendar.png">
      </div>
      <div class="multi-select" style="margin-left: 30px;">
        <div [class.selected]="newEvent.time === '5:00 pm'" (click)="setProp('time', '5:00 pm')">5pm</div>
        <div [class.selected]="newEvent.time === '7:00 pm'" (click)="setProp('time', '7:00 pm')">7pm</div>
        <div [class.selected]="newEvent.time === '9:00 pm'" (click)="setProp('time', '9:00 pm')">9pm</div>
      </div>
    </div>

    <a class="fake-input form-button pink" (click)="setFormSection(2)">Continue</a>
  </ng-container>


  <ng-container *ngIf="activeFormSection === 2">
    <div class="form-section">
      <div class="section-number">5</div>
      <div class="section-title">Choose ticket prices
        <span class="sub-title">Choose which ticket types are available for sale. You can also specify a Custom Price above Cinema Price for additional profit</span>
      </div>
    </div>
    <div class="form-section">
      <div class="section-number">6</div>
      <div class="section-title">Write an Event Description to promote your event</div>
      <textarea (blur)="onDescriptionBlur($event)" class="fake-input event-description" placeholder="e.g. Welcome to my screening of Your Name"></textarea>
    </div>

    <a class="fake-input form-button pink-clear" (click)="setFormSection(1)">Back</a>
    <a class="fake-input form-button pink" (click)="setFormSection(3)">Continue</a>
  </ng-container>
</div>
