<div class="form-container">
  <div class="form-header">
    <h2>Request a Film</h2>
    <div class="progress-tracker">
      <div class="progress-state" (click)="setFormSection(1)" [class.active]="activeFormSection === 1" [class.complete]="activeFormSection > 1">Film
        and Cinema
      </div>
      <div class="progress-state" (click)="setFormSection(2)" [class.active]="activeFormSection === 2" [class.complete]="activeFormSection > 2">
        Event Details
      </div>
      <div class="progress-state" (click)="setFormSection(3)" [class.active]="activeFormSection === 3" [class.complete]="activeFormSection > 3">
        Summary
      </div>
      <div class="progress-state" (click)="setFormSection(4)" [class.active]="activeFormSection === 4" [class.complete]="activeFormSection >= 4">
        Share
      </div>
    </div>
  </div>

  <ng-container *ngIf="activeFormSection === 1">
    <div class="form-section">
      <div class="section-number">1</div>
      <div class="section-title">Choose the film you would like to request</div>
      <div class="film-select">
        <input
          [(ngModel)]="selected"
          (typeaheadOnSelect)="filmSelected()"
          [typeahead]="films"
          class="form-control">
      </div>
      <div *ngIf="showFilmCard" class="selected-film-card" style="margin-top: 34px;">
        <div class="selected-film-image"></div>
        <div class="selected-film-info">
          <div class="selected-top">
            <div class="film-details">
              <div class="film-title">Your Name</div>
              <div class="film-year">2016</div>
            </div>
            <div class="pg">PG</div>
          </div>
          <div class="run-time">
            <label>Run time:</label>
            <div>2hr 14min</div>
          </div>
          <div class="director">
            <label>Director:</label>
            <div>Makoto Shinkai</div>
          </div>
          <div class="cast">
            <label>Cast:</label>
            <div>Ryunosuke Kamiki, Mone Kamishiraishi, Masami Nagasawa, Etsuko Ichihara, Ryo Narita</div>
          </div>
        </div>

      </div>
    </div>
    <div class="form-section">
      <div class="section-number">2</div>
      <div class="section-title">Choose the film format and screen type</div>
      <div class="multi-select">
        <div [class.selected]="newEvent.screenType === 'Regular'" (click)="setProp('screenType', 'Regular')">Regular</div>
        <div [class.selected]="newEvent.screenType === 'IMAX'" (click)="setProp('screenType', 'IMAX')">IMAX</div>
        <div [class.selected]="newEvent.screenType === 'Gold Class'" (click)="setProp('screenType', 'Gold Class')">Gold Class</div>
      </div>
      <div class="multi-select">
        <div [class.selected]="newEvent.format === '2D'" (click)="setProp('format', '2D')">2D</div>
        <div [class.selected]="newEvent.format === '3D'" (click)="setProp('format', '3D')">3D</div>
      </div>
    </div>
    <div class="form-section" style="min-height: 410px;">
      <div class="section-number">3</div>
      <div class="section-title">Choose a Cinema you would like to host the screening</div>
      <div class="fake-input" style="width: 330px;">Cinemas near you
        <img style="width: 12px; height: 7px; top: 15px;" src="../assets/icons/caret-black.png">
      </div>
      <div style="width: 330px; margin-top: 30px;">
        <div class="checkbox" [class.selected]="newEvent.location === 'Event Cinemas, Albany'" (click)="setProp('location', 'Event Cinemas, Albany')">
          Event Cinemas, Albany
        </div>
        <div class="checkbox" [class.selected]="newEvent.location === 'Berkeley Cinemas, Takapuna'" (click)="setProp('location', 'Berkeley Cinemas, Takapuna')">
          Berkeley Cinemas, Takapuna
        </div>
        <div class="checkbox" [class.selected]="newEvent.location === 'Hoyts Cinemas, Wairau Park'" (click)="setProp('location', 'Hoyts Cinemas, Wairau Park')">
          Hoyts Cinemas, Wairau Park
        </div>
      </div>
      <img class="fake-cinema-map" src="../assets/cinema.PNG">
    </div>
    <div class="form-section">
      <div class="section-number">4</div>
      <div class="section-title">Choose a date and time to show this film</div>
      <div class="fake-input" style="width: 300px;">
        {{newEvent.date}}
        <img src="../assets/icons/calendar.png">
      </div>
      <div class="multi-select" style="margin-left: 30px;">
        <div [class.selected]="newEvent.time === '5:00 pm'" (click)="setProp('time', '5:00 pm')">5pm</div>
        <div [class.selected]="newEvent.time === '7:00 pm'" (click)="setProp('time', '7:00 pm')">7pm</div>
        <div [class.selected]="newEvent.time === '9:00 pm'" (click)="setProp('time', '9:00 pm')">9pm</div>
      </div>
    </div>

    <a class="fake-input form-button pink" (click)="setFormSection(2)">Continue</a>
  </ng-container>


  <ng-container *ngIf="activeFormSection === 2">
    <div class="form-section">
      <div class="section-number">5</div>
      <div class="section-title">Choose ticket prices
        <span class="sub-title">Choose which ticket types are available for sale. You can also specify a Custom Price above Cinema Price for additional profit</span>
      </div>
      <div class="ticket-table">
          <div class="table-header">
            <span>Ticket Type</span>
            <span style="float: right; width: 230px; text-align: right;">Custom Price</span>
            <span style="float: right;">Cinema Price</span>
          </div>
          <div class="ticket-line" *ngFor="let ticket of ticketTypes" (click)="ticket.selected = !ticket.selected;">
            <div class="checkbox" [class.selected]="ticket.selected">{{ticket.type}}</div>
            <div class="fake-input">{{ticket.customPrice}}</div>
            <div class="cin-price">{{ticket.cinPrice}}</div>
          </div>
      </div>
    </div>
    <div class="form-section">
      <div class="section-number">6</div>
      <div class="section-title">Write an Event Description to promote your event</div>
      <textarea (blur)="onDescriptionBlur($event)" class="fake-input event-description" placeholder="e.g. Welcome to my screening of Your Name"></textarea>
    </div>

    <a class="fake-input form-button pink-clear" (click)="setFormSection(1)">Back</a>
    <a class="fake-input form-button pink" (click)="setFormSection(3)">Continue</a>
  </ng-container>

  <ng-container *ngIf="activeFormSection === 3">
    <div class="summary">
      <h2>Your event summary</h2>
      <div class="selected-film-card">
        <div class="selected-film-image"></div>
        <div class="selected-film-info">
          <div class="selected-top">
            <div class="film-details">
              <div class="film-title">Your Name</div>
              <div class="film-year">2016</div>
            </div>
            <div class="pg">PG</div>
          </div>
          <div class="run-time">
            <label>Run time:</label>
            <div>2hr 14min</div>
          </div>
          <div class="director">
            <label>Director:</label>
            <div>Makoto Shinkai</div>
          </div>
          <div class="cast">
            <label>Cast:</label>
            <div>Ryunosuke Kamiki, Mone Kamishiraishi, Masami Nagasawa, Etsuko Ichihara, Ryo Narita</div>
          </div>
        </div>
      </div>
      <div class="details">
        <p class="details-title">Details</p>
        <div class="organiser">
          <img src="{{newEvent.eventOrganiser.image}}">
          Organised by <b>{{newEvent.eventOrganiser.name}}</b>
        </div>
        <div class="time-location">
          <img src="../../assets/cinema-small.PNG">
          <div class="time-details">
            <span><b>{{newEvent.time}}</b></span>
            <span>{{newEvent.date}}</span>
            <span>{{newEvent.location}}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="overview">
      <h2>Overview</h2>
      <p>{{newEvent.description}}</p>
    </div>

    <a class="fake-input form-button pink-clear" (click)="setFormSection(2)">Back</a>
    <a class="fake-input form-button pink" (click)="createEvent()" [class.pretend-saving]="pretendSaving"><span>Create Event</span></a>
  </ng-container>

  <ng-container *ngIf="activeFormSection === 4">
    <div class="share-header">
      <h1>Your Event has been created!</h1>
      <a class="fake-input form-button green-clear" routerLink="../../event/your-name">Manage Event</a>
    </div>

    <div class="seats">
      <div class="max"></div>
      <div class="goal"></div>

      <div class="seat-marker created">
        <span class="num">{{displayDate}}</span>
        <span class="label">Event Created</span>
      </div>
      <div class="seat-marker seat-goal">
        <span class="num">200</span>
        <span class="label">Seats till goal</span>
      </div>
      <div class="seat-marker seat-max">
        <span class="num">{{newEvent.capacity}}</span>
        <span class="label">Maximum Seats</span>
      </div>
    </div>
  </ng-container>
</div>

<div class="share" *ngIf="activeFormSection === 4">
  <h3>Get people interested to help reach your goal</h3>
  <div class="share-bg">
    <div class="share-buttons">
      <a class="fake-input social-button facebook" href="">Facebook</a>
      <a class="fake-input social-button twitter" href="">Twitter</a>
      <div class="share-url">
        <span>Event URL</span>
        <div class="fake-input">http://ondemand.com/X862M0</div>
        <a href="" class="fake-input copy-button">Copy</a>
      </div>
    </div>
  </div>
</div>
