$pink: rgba(206,74,198,1);
$dark-pink: darken($pink, 20%);
$green: #48D5A3;
$prog-h: 40px;
$num-size: 34px;
$input-height: 46px;
$border-color: rgba(0,0,0,0.2);

.form-container {
  margin: 100px auto;
  width: 1000px;
}

.form-header {
  h2 {
    font-family: sf;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 30px;
  }
}

.progress-tracker {
  display: flex;
  width: 100%;
  flex-direction: row;
  height: $prog-h;
  background-color: white;
  border: 1px solid rgba(0,0,0,0.3);
  overflow: hidden;
}
.progress-state {
  flex: 1 1 auto;
  line-height: $prog-h;
  position: relative;
  padding-left: 50px;
  font-size: 14px;
  font-weight: normal;
}

.progress-state:first-child {
  width: 225px;
  flex-grow: 0;
  padding-left: 30px;
}

.progress-state:after {
  content: '';
  height: 29px;
  width: 29px;
  transform: rotate(45deg);
  box-shadow: 1px -1px 0 0 rgba(0,0,0,0.3);
  position: absolute;
  top: 5px;
  right: -13px;
  display: block;
  z-index: 1;
}

.progress-state.active {
  background-color: $pink;
  color: white;
  &:after {
    background-color: $pink;
  }
}
.progress-state.complete {
  background-color: $dark-pink;
  color: white;
  &:after {
    background-color: $dark-pink;
  }
}

.progress-state:last-child {
  &:after {
    display: none;
  }
}

.form-section {
  margin-top: 50px;
  position: relative;
}


.section-number {
  display: block;
  position: absolute;
  left: -50px;
  height: $num-size;
  width: $num-size;
  color: white;
  font-size: 14px;
  line-height: $num-size;
  text-align: center;
  background-color: $green;
  border-radius: 50%;
  font-weight: bold;
}
.section-title {
  font-size: 16px;
  font-weight: bold;
  color: black;
  line-height: $num-size;
  margin-bottom: 20px;
}

.fake-input {
  height: $input-height;
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 6px;
  background-color: white;
  padding: 0 15px;
  color: black;
  line-height: $input-height;
  position: relative;

  img {
    height: 20px;
    width: 20px;
    position: absolute;
    right: 20px;
    bottom: 13px;
    opacity: 0.4;
  }
}

.multi-select {
  display: inline-block;
  margin-right: 30px;
  height: $input-height;
  line-height: 0;
  font-size: 0;
  > div {
    display: inline-block;
    line-height: $input-height;
    color: black;
    background-color: white;
    padding: 0 15px;
    font-size: 14px;
    font-weight: bold;

    border: 1px solid $border-color;
    border-right-width: 0px;

    &:first-child {
      border-top-left-radius: 6px;
      border-bottom-left-radius: 6px;
    }

    &:last-child {
      border-top-right-radius: 6px;
      border-bottom-right-radius: 6px;
      border-right-width: 1px;
    }

    &.selected {
      background-color: $green;
      color: white;
      border-color: darken($green, 10%);
    }
  }
}
