<div class="container-fluid custom-modal-container">
  <div class="row custom-modal-header">
    <div class="col-sm-12">
      <div class="row">
        <p class="tickets">Tickets</p>
        <img src="/assets/icons/x.png" class="cross" (click)="close()" />
      </div>
      <div class="row">
        <p class="tickets-question">How many tickets would you like to reserve?</p>
      </div>
    </div>
  </div>
  <div class="row tickets-section">
    <div class="col-md-12">
      <div class="row ticket-select-row">
        <div class="col-md-4">
          <p>Adult</p>
        </div>
        <div class="col-md-4">
          <p>$17.50 ea</p>
        </div>
        <div class="col-md-4">
          <div class="number-select">
            <p>1</p>
          </div>
        </div>
      </div> 

      <div class="row ticket-select-row">
        <div class="col-md-4">
          <p>Child</p>
        </div>
        <div class="col-md-4">
          <p>$12.00 ea</p>
        </div>
        <div class="col-md-4">
          <div class="number-select">
            <p>0</p>
          </div>
        </div>
      </div>     
    </div>
  </div>
  <div class="row payments-section">
    <div class="col-md-12">
      <div class="row">
        <p class="payments-header">Payment</p>
      </div>
      <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-5">
          <div class="checkbox selected">Credit Card</div>
        </div>
        <div class="col-md-5">
          <div class="checkbox">Paypal</div>
        </div>
      </div>
      <div class="row card-number">
        <div class="col-md-2">

        </div>

        <div class="col-md-7">
          <p class="card-number-text">xxxx-xxxx-xxxx-3390</p>
        </div>

        <div class="col-md-2">
          <p class="change-text">Change</p>
        </div>
      </div>
      <div class="row">
        <p class="info">Your credit card will only be charged once the Film Session is scheduled</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="reserve" (click)="reserveTickets()">
      <p class="reserve-text">Reserve Tickets - $17.50</p>
    </div>
  </div>
</div>