%btn-transparent {
  background: transparent;
  border: 1px solid white;
  color: white;
  padding: 20px 50px;
  font-family: sf;
  font-size: 1.2em;
  letter-spacing: 0.1em;
  &:hover {
    cursor: pointer;
  }
}

%event-cards-container {
  width: 100%;
  padding-top: 50px;
  background: linear-gradient(0deg, #FFFFFF 0%, #F8F8F8 100%);
  display: flex;
  flex-direction: column;
  padding-left: 10%;
  .event-cards-row {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    app-event-card {
      margin: 0 20px 20px 0;
    }
  }
}
