.header{
    margin-top: 20px;
    margin-bottom: 20px;
}

.logo{
    margin: auto;
    display: block;
    cursor: pointer;
}

.header-navigation{
    margin-top: 3px;
}

.nav-item {
    text-align: center;
}

p {
    cursor: pointer;
}

.request-film-text {
    padding: 6px;
    border: 1px solid #DFDFDF;
    border-radius: 3px;
    background-color: white;
}

.for-you-text{
    padding: 6px;
}

.explore-text{
    padding: 6px;
}

.header-logo {
    text-align: center;
}