<div class="hero">
  <section>
    <h1>Monster Mania</h1>
    <h3>Nothing Strikes fear like a 50 foot monster.</h3>
    <h3>With the release of King: Skull Island, get upto date with the classics</h3>
  </section>
</div>
<app-event-card [event]="eventService.getEvents()[0]"></app-event-card>
<app-event-card [event]="eventService.getEvents()[1]"></app-event-card>
<app-event-card-vertical [event]="eventService.getEvents()[0]"></app-event-card-vertical>
<app-event-card-vertical [event]="eventService.getEvents()[1]"></app-event-card-vertical>