@mixin colored-circle($bgcolor, $fgcolor, $radius, $fontSize) {
  border-radius: 50%;
  min-width: $radius;
  min-height: $radius;
  max-width: $radius;
  max-height: $radius;
  padding: ($radius - $fontSize)/2;
  background: $bgcolor;
  color: $fgcolor;
  text-align: center;
  font-size: $fontSize;
  line-height: $fontSize;
}


:host {
  .hero-monster {
    height: 500px;
    background: url('../../assets/monster-hero.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

    section {
      color: white;
      text-align: center;
      h1 {
        font-size: 5em;
      }
      h3 {
        font-size: 1.5em;
      }
    }
  }

  .hero-event-cards {
    margin-top: -100px;
    display: flex;
    justify-content: center;
    .event-cards-container-vertical {
      display: flex;
      justify-content: space-around;
      width: 90%;
    }
  }

  .hero-catalog {
    height: 400px;
    background: url('../../assets/catalog-hero.png');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;

    section {
      color: white;
      text-align: center;
      h1 {
        font-size: 2em;
        font-weight: bold;
      }
      .steps-container {
        padding: 20px 10px;
        display: flex;
        flex-direction: row;
        .step {
          display: flex;
          flex-direction: row;
          padding: 20px;
          align-items: center;
          .step-number-container {
            width: 30%;
            display: flex;
            justify-content: flex-end;
            .step-number {
              @include colored-circle(white, cyan, 80px, 50px);
            }
          }
          h3 {
            font-size: 1.5em;
          }
        }
      }
    }
  }

  .explore {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px 0;

    > h1 {
      padding-bottom: 50px;
    }

    .row-horizontal {
      width: 80%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      font-size: 1em;

      .fake-tabs {
        display: flex;
        flex-direction: row;
        div {
          padding: 0 20px;
          text-align: center;
          &:hover {
            cursor: pointer;
          }
          &.active {
            border-bottom: 3px solid #2BD7A4;
            cursor: default;
          }
        }
      }
      .fake-buttons {
        display: flex;
        flex-direction: row;
        padding-bottom: 10px;
        .fake-button {
          display: flex;
          flex-direction: row;
          padding: 0 20px;
          div {
            padding-left: 10px;
            &:hover {
              cursor: pointer;
            }
          }
          .see-all {
            padding: 7px 12px;
            font-family: sf;
            font-weight: bold;
          }
        }
      }
    }
    .event-cards-container {
      width: 100%;
      background: linear-gradient(0deg, #FFFFFF 0%, #F8F8F8 100%);
    }
  }

  .hero-nippo {
    border-top: 1px solid #DCDEDD;
    height: 500px;
    background: url('../../assets/nippo-hero.png');
    background-size: cover;
  }

  .btn-transparent {
    background: transparent;
    border: 1px solid white;
    color: white;
    padding: 20px 50px;
    font-family: sf;
    font-size: 1.2em;
    letter-spacing: 0.1em;
    &:hover {
      cursor: pointer;
    }
  }
}
