@mixin colored-circle($bgcolor, $fgcolor, $radius, $fontSize) {
  border-radius: 50%;
  min-width: $radius;
  min-height: $radius;
  max-width: $radius;
  max-height: $radius;
  padding: ($radius - $fontSize)/2;
  background: $bgcolor;
  color: $fgcolor;
  text-align: center;
  font-size: $fontSize;
  line-height: $fontSize;
}

@mixin fade-in($duration) {
  animation: animationFrames $duration ease;
}

@keyframes animationFrames{
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

:host {
  .fade-in {
    @include fade-in(2s);
  }

  .hero-monster {
    height: 500px;
    background: url('../../assets/monster-hero.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

    section {
      color: white;
      text-align: center;
      h1 {
        font-size: 5em;
      }
      h3 {
        font-size: 1.5em;
      }
    }
  }

  .hero-event-cards {
    margin-top: -100px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    .event-cards-container-vertical {
      display: flex;
      justify-content: center;
      width: 60%;
    }
  }

  .hero-catalog {
    height: 400px;
    width: 95%;
    border-radius: 1em;
    margin: 0 auto;
    background: url('../../assets/catalog-hero.png') no-repeat center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;

    section {
      color: white;
      text-align: center;
      h1 {
        font-size: 2em;
        font-weight: bold;
      }
      .steps-container {
        padding: 20px 10px;
        display: flex;
        flex-direction: row;
        .step {
          display: flex;
          flex-direction: row;
          padding: 20px;
          align-items: center;
          .step-number-container {
            width: 30%;
            display: flex;
            justify-content: flex-end;
            .step-number {
              font-weight: lighter;
              @include colored-circle(white, cyan, 80px, 50px);
            }
          }
          h3 {
            font-size: 1.5em;
          }
        }
      }
    }
  }

  .explore {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px 0;
    font-weight: bold;

    > h1 {
      font-weight: inherit;
      padding-bottom: 50px;
    }

    .row-horizontal {
      width: 80%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      font-size: 1em;
      .fake-tabs {
        display: flex;
        flex-direction: row;
        div {
          padding: 0 10px;
          margin: 0 10px;
          text-align: center;
          &:hover {
            cursor: pointer;
          }
          &.active {
            border-bottom: 3px solid #2BD7A4;
            cursor: default;
          }
        }
      }
      .fake-buttons {
        display: flex;
        flex-direction: row;
        padding-bottom: 10px;
        .fake-button {
          display: flex;
          flex-direction: row;
          padding: 0 20px;
          div {
            padding-left: 10px;
            &:hover {
              cursor: pointer;
            }
          }
          .see-all {
            padding: 7px 12px;
            font-family: sf;
            font-weight: bold;
          }
        }
      }
    }
    .event-cards-container {
      width: 100%;
      padding-top: 50px;
      background: linear-gradient(0deg, #FFFFFF 0%, #F8F8F8 100%);
      display: flex;
      flex-direction: column;
      .event-cards-row {
        display: flex;
        flex-direction: row;
        margin-left: 10%;
        overflow: hidden;
        app-event-card {
          margin: 0 20px 20px 0;
        }
      }
    }
  }

  .hero-nippo {
    border-top: 1px solid #DCDEDD;
    background-color: #F6F6F6;
    img {
      display: block;
      margin: 0 auto;
    }
  }

  .btn-transparent {
    background: transparent;
    border: 1px solid white;
    color: white;
    padding: 20px 50px;
    font-family: sf;
    font-size: 1.2em;
    letter-spacing: 0.1em;
    &:hover {
      cursor: pointer;
    }
  }
}
