/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/scss/bootstrap";
$icon-size: 1.5em;

html, body {
  height: 100%;
  margin: 0;
  font-family: graphik, sans-serif;
}

a, a:active, a:visited {
  color: black;
  text-decoration: none !important;
}

@font-face {
  font-family: graphik;
  src: url(assets/fonts/graphik-regular.otf);
  font-weight: normal;
}
@font-face {
  font-family: graphik;
  src: url(assets/fonts/graphik-medium.otf);
  font-weight: 600;
}

@font-face {
  font-family: graphik;
  src: url(assets/fonts/graphik-light.otf);
  font-weight: 200;
}

@font-face {
  font-family: sf;
  src: url(assets/fonts/sf-ui-display-regular.otf);
  font-weight: normal;
}

@font-face {
  font-family: sf;
  src: url(assets/fonts/sf-ui-display-bold.otf);
  font-weight: bold;
}

.icon {
  display: inline-block;
  width: $icon-size;
  height: $icon-size;
}

.icon-grid {
  background: url(assets/icons/icon-grid.png) center no-repeat;
  background-size: $icon-size;
}

.icon-calendar {

}

.icon-caret {
  background: url(assets/icons/caret-black.png) center no-repeat;
  background-size: 0.5em;
}

.fade.in {
  opacity: 1;
}

.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}

.modal-backdrop.in {
  opacity: 0.5;
}

.modal-content{
  border: none;
  background-color: transparent;
}