/* You can add global styles to this file, and also import other style files */
html, body {
  height: 100%;
  margin: 0;
  font-family: graphik, sans-serif;
}

a, a:active, a:visited {
  color: black;
  text-decoration: none;
}

@font-face {
  font-family: graphik;
  src: url(assets/fonts/graphik-regular.otf);
  font-weight: normal;
}
@font-face {
  font-family: graphik;
  src: url(assets/fonts/graphik-medium.otf);
  font-weight: 600;
}

@font-face {
  font-family: graphik;
  src: url(assets/fonts/graphik-light.otf);
  font-weight: 200;
}

@font-face {
  font-family: sf;
  src: url(assets/fonts/sf-ui-display-regular.otf);
  font-weight: normal;
}

@font-face {
  font-family: sf;
  src: url(assets/fonts/sf-ui-display-bold.otf);
  font-weight: bold;
}
